<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Trip Planner</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="/stylesheets/home.css" rel="stylesheet">

  </head>

  <body>



    <div class="site-wrapper">
      <video autoplay loop poster="photo-3.jpg" id="embedded_video">
  	  	 <source src="newyork.mp4" type="video/mp4">
    	</video>
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">TripPlanner</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>


          {% block content %}
          <div class="inner cover">
            <h1 class="cover-heading">Trip Planner.</h1>
            <select class="form-control">
              <option class="optionselect" value="" disabled selected>Choose a Hotel</option>
              {% for hotel in hotels %}
                <option>{{hotel.name}}</option>
              {% endfor %}
            </select>
            <select class="form-control">
              <option class="optionselect" value="" disabled selected>.. a Restaurant</option>
              {% for restaurant in restaurants %}
                <option>{{restaurant.name}}</option>
              {% endfor %}
            </select>
            <select class="form-control">
              <option class="optionselect" value="" disabled selected>.. and an Activity</option>
              {% for activity in activities %}
                <option>{{activity.name}}</option>
              {% endfor %}
            </select>
            {% endblock %}
            <p>
              <br>
              <a href="/dayplan" class="btn btn-lg btn-default">Create My Day</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Phil & George</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>



    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
